@{

}
<div>
    <div style="margin:0em; padding:0em;">
        <table id="cetable" class="table table-hover table-striped responsive-data-table compact cell-border table-bordered" cellspacing="0" style="min-width:80%;">
            <thead class="filters">
                <tr>
                    <th>Report Date</th>
                    <th>FW Start Date</th>
                    <th>FW End Date</th>
                    <th>Created Date</th>
                    <th>Created Time</th>
                    <th>Publication</th>
                    <th>Language</th>
                    <th>GUID</th>
                    <th>Title</th>
                    <th>Accurate Rating</th>
                    <th>Useful Rating</th>
                    <th>Easy to  Understand Ratinge</th>
                    <th>Article Solved Issue</th>
                    <th>Feedback</th>
                </tr>
            </thead>
            <tbody></tbody>
            <tfoot>
                <tr>
                    <th>Report Date</th>
                    <th>FW Start Date</th>
                    <th>FW End Date</th>
                    <th>Created Date</th>
                    <th>Created Time</th>
                    <th>Publication</th>
                    <th>Language</th>
                    <th>GUID</th>
                    <th>Title</th>
                    <th>Accurate Rating</th>
                    <th>Useful Rating</th>
                    <th>Easy to  Understand Ratinge</th>
                    <th>Article Solved Issue</th>
                    <th>Feedback</th>
                </tr>
            </tfoot>
        </table>
    </div>
</div>