
    <div class="topnav-right" style="border-color:antiquewhite;">
        <div>
            <p class="text-info">
                Previous Scheduler Run Statistics Details
            </p>
        </div>
    </div>