@{

}
<div>
    <div class="text-center">
        <b> Fiscal Week Start Date:</b> <input id="fwstartdt" type="text" readonly />
        <b> Fiscal Week End Date: </b> <input id="fwenddt" type="text" readonly />
    </div>
    <div>
        <table id="cetable" class="table table-hover table-striped responsive-data-table compact cell-border" cellspacing="0" style="min-width:100%;">
            <thead>
                <tr>
                    <th>Created Date</th>
                    <th>Created Time</th>
                    <th>Publication</th>
                    <th>Language</th>
                    <th>GUID</th>
                    <th>Title</th>
                    <th>Accurate Rating</th>
                    <th>Useful Rating</th>
                    <th>Easy to  Understand Ratinge</th>
                    <th>Article Solved Issue</th>
                    <th>Feedback</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</div>



